@page "/"
@inject TardanzaServicio TardanzaServicio
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>Inicio</PageTitle>

<h1>Registro de Tardanzas</h1>

<table class="table">
    <thead>
        <tr>
            <th>Matrícula</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Curso</th>
            <th>Fecha/Hora</th>
            <th>Motivo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tardanza in TardanzaServicio.ObtenerTardanzas())
        {
            <tr>
                <td>@tardanza.Estudiante.Matricula</td>
                <td>@tardanza.Estudiante.Nombre</td>
                <td>@tardanza.Estudiante.Apellido</td>
                <td>@tardanza.Estudiante.Curso</td>
                <td>@tardanza.FechaHora.ToString("dd/mm/yyyy HH:mm:ss")</td>
                <td>@tardanza.Motivo</td>
            </tr>
        }
    </tbody>
</table>

<button class="btn btn-primary" @onclick="NuevaTardanza">Añadir</button>

@code
{
    protected override void OnInitialized()
    {

    }
    private void NuevaTardanza()
    {
        NavigationManager.NavigateTo("/registrar-tardanza");
    }
}